@using PagedList.Mvc
@model PagedList.IPagedList<CrmBProc.Models.Order_status_tbl>
@{
    ViewBag.Title = "Заявки и поставки";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

<table class="table" style="color: #151948; margin-top:4%">
    <tr>
        <th>
           Статус
        </th>
        <th>
            Логин поставщика
        </th>
        <th>
            Ф.И.О представителя
        </th>
        <th>
            Компания поставщика
        </th>
        <th>
           Группа
        </th>
      
        <th>
           ID заказа
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status_tbl.status_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_tbl.supplier_login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_tbl.supplier_fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_tbl.supplier_companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_table.order_group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_status_FK_Order)
            </td>
            <td>
               
            </td>
        </tr>
    }

</table>
