@model CrmBProc.Models.Request_tbl

@{
    ViewBag.Title = "Заявка";
    Layout = null;
}


<h3>Документ №  @Session["request_id"]</h3>
<h2 class="text-center" style="text-align:center">@ViewBag.Title </h2>

<div class="text-center" style="margin-top: 6%; color: #151948; font-size:16px">

    <p><b>Ф.И.О заявителя:</b> @Session["request_emp_head_name"] <p>

    <p><b>От департамента:</b> @Session["request_department_ot"]</p>

    <p><b>Дата сформирования заявки: </b>@Session["request_date"] </p>

    <p><b>Материал:</b> @Session["request_material"]</p>

    <p><b>Техническая характеристика:</b> @Session["request_technical_character"]</p>

    <p><b>Количество:</b> @Session["request_quantity"]</p>

    <p><b>Дедлайн: </b>@Session["request_dedline"] </p>

    <p><b>K департаменту:</b> @Session["request_department_k"]</p>

</div>
<br>
<h4>Подпись Руководителя @Session["request_emp_head_name"] департамента @Session["request_department_ot"] __________</h4>
<h4>Подпись Руководителя ________________ департамента @Session["request_department_k"] __________</h4>
<h4>Дата "___" "______" 2021 год. Город Алматы. ТОО"Эффективные бизнес решении".</h4>
